unix_socket_connect(hal_sensors_default, sensors, sensors)
allow hal_sensors_default sensors_socket:sock_file read;
allow hal_sensors_default apk_data_file:dir read;
