# Symlink /sdcard to backing block
allow init tmpfs:lnk_file create;

allow init {
    proc_cpu_alignment
    sysfs_block_iosched
    sysfs_block_read_ahead_kb
    sysfs_devices_system_cpu
    sysfs_mpdecision
    sysfs_msm_subsys
    sysfs_net
}:file w_file_perms;

allow init {
    proc_slabinfo
    sysfs_graphics
    sysfs_msm_subsys
    sysfs_usb
    sysfs_wlan_fwpath
}:file setattr;
