allow system_server sensors_socket:sock_file getattr;
allow system_server proc_last_kmsg:file r_file_perms;
allow system_server proc_wakelocks:file r_file_perms;
